<header ng-include src="'modules/home/views/menu.html'">
</header>
<div class="container-fluid">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Container id</th>
                <th>Status</th>
                <th>ReleaseId</th>
                <th>Resolved ReleaseId</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="container in containers">
                <td>{{ container['container-id'] }}</td>
                <td>{{ container['status'] }}</td>
                <td>{{ container['release-id']['group-id'] }}:{{ container['release-id']['artifact-id'] }}:{{ container['release-id']['version'] }}</td>
                <td>{{ container['resolved-release-id']['group-id'] }}:{{ container['resolved-release-id']['artifact-id'] }}:{{ container['resolved-release-id']['version'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>